This notebook is a playground for me to explore the tuple, list, dictionary and set datatypes of Python

In [27]:
tuple = ('disco',10,1.2)

In [28]:
type(tuple)

tuple

In [29]:
tuple[-1]

1.2

In [30]:
# We can concatenate tuples
tuplenew = tuple + ('hard rock',10)

In [31]:
tuplenew

('disco', 10, 1.2, 'hard rock', 10)

In [32]:
# Slicing is a term for selecting multiple elements of a tuple (and list)
# We note that the notation is 'exclusive'
tuplenew[3:5]

('hard rock', 10)

In [33]:
len(tuple)

3

In [34]:
len(tuplenew)

5

In [35]:
# Tuple are immutable - meaning that their elements are not changed 
# In this case the new variable name is an alias
testtuple = tuplenew

In [36]:
# To sort a tuple all the elements must be numeric
tuplenum = (10,9,6,5,10,8,9,6,2)
tuplenum = sorted(tuplenum)

In [37]:
tuplenum

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [38]:
tupletuple = (1,2,('pop','rock'),(3,4),(1,2))

In [39]:
len(tupletuple)

5

In [40]:
# When slicing the syntax is to use : and not ,
# Slicing returns a tuple
tupletuple[2:4]

(('pop', 'rock'), (3, 4))

In [41]:
tupletuple[2][1]

'rock'

In [42]:
type(tupletuple[2][1][3])

str

In [43]:
# In addition to tuples Python also has lists
L = ['Micheal Jackson', 10.1, 1982]

In [44]:
# Lists are mutable (we can change the elements)
# We access elements using an index
L[0]

'Micheal Jackson'

In [45]:
# Strangely the square brackets are used to index both tuples and lists
L[-2]

10.1

In [46]:
P = [3,7,43,6,34,2]

In [47]:
# The function is sorted and not sort
P = sorted(P)

In [48]:
P

[2, 3, 6, 7, 34, 43]

In [49]:
len(P)

6

In [50]:
P[3:7]

[7, 34, 43]

In [51]:
P.extend(['pop',10])
P

[2, 3, 6, 7, 34, 43, 'pop', 10]

In [52]:
# tuple aren't extensible because they are immutable
tupletuple.extend([1])

AttributeError: 'tuple' object has no attribute 'extend'

In [ ]:
P.append('pop')
P

In [ ]:
# append and extend  - singular and plural

In [ ]:
P[0] = 'jack'

In [ ]:
P

In [ ]:
del(P[4])
P

In [ ]:
"Simon Tracz".split()

In [ ]:
"Simon Tracz".split('a')

In [ ]:
# Cloning instead of aliasing has a special syntax
A = P[:]
A

In [ ]:
tuple = tupletuple[:]

In [ ]:
tuple

In [ ]:
help(tuple)

In [ ]:
# We can use the \ backslash character to join two lines in Jupyter 
uple = (1,1,2,3,\
        4,4)

In [ ]:
uple

In [ ]:
myDict = {'a':3,'b':6,'c':8}

In [ ]:
myDict

In [ ]:
myDict['a']

In [ ]:
myDict['g']=10

In [ ]:
myDict

In [ ]:
del(myDict['c'])

In [ ]:
myDict

In [ ]:
'a' in myDict

In [ ]:
'd' in myDict

In [ ]:
myDict.keys()

In [ ]:
myDict.values()

In [ ]:
a = {'a':1,'a':2}

In [ ]:
a

In [ ]:
setw = {'a','b','b','c'}

In [ ]:
setw

In [ ]:
dict = {'a':1, 'b':2}

In [ ]:
dict

In [53]:
list = [1,2,3]

In [54]:
list
type(list)

list

In [55]:
# This is an example of type_casting
# We can cast a list into a set
# This will not work if an object called set is created
# Best practice would be to NEVER use Python keywords in my coding
new_set = set(list)

In [56]:
len(list)

3

In [57]:
type(new_set)

set

In [58]:
new_set

{1, 2, 3}

In [59]:
new_set.add('a')

In [60]:
new_set

{1, 2, 3, 'a'}

In [61]:
new_set.remove(2)

In [62]:
new_set

{1, 3, 'a'}

In [63]:
3 in new_set

True

In [64]:
set_a = {1,2,3}
set_b = {3,4,5}

In [65]:
set_a & set_b

{3}

In [66]:
set_a.union(set_b)

{1, 2, 3, 4, 5}

In [67]:

set_a.issubset(set_b)

False

In [68]:
set_a.intersection(set_b)

{3}

In [69]:
set_a.difference(set_b)

{1, 2}